*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

display:flex;

background:#f4f8fc;

}


.sidebar{

width:260px;

height:100vh;

background:#1565C0;

padding:40px;

}


.logo{

color:white;

font-size:28px;

font-weight:bold;

margin-bottom:50px;

}


.menu{

display:flex;

flex-direction:column;

gap:15px;

}


.menu a{

color:white;

padding:15px;

border-radius:10px;

}


.menu a:hover{

background:#0D47A1;

}


.content{

flex:1;

padding:50px;

}


.welcome{

background:white;

padding:40px;

border-radius:15px;

}


.card-container{

margin-top:30px;

display:grid;

grid-template-columns:
repeat(
auto-fit,
minmax(
250px,
1fr
));

gap:20px;

}


.card{

background:white;

padding:40px;

border-radius:15px;

}


@media(max-width:768px){

body{

flex-direction:column;

}

.sidebar{

width:100%;

height:auto;

}

}

/* ======================
MOBILE
====================== */

.burger-btn{

display:none;

}


@media screen and (max-width:768px){

body{

display:block;

}


/* tombol */

.burger-btn{

display:flex;

position:fixed;

top:20px;

left:20px;

width:52px;

height:52px;

background:#1565C0;

color:white;

justify-content:center;

align-items:center;

font-size:28px;

border-radius:14px;

cursor:pointer;

z-index:10001;

}


/* sidebar */

.sidebar{

position:fixed;

top:0;

left:-260px;

width:260px;

height:100vh;

padding-top:90px;

transition:left .3s;

z-index:10000;

overflow-y:auto;

}


/* tampil */

.sidebar.show{

left:0;

}


/* logo jangan ketimpa */

.logo{

margin-bottom:40px;

}


/* konten */

.content{

width:100%;

margin-left:0;

padding:

20px
20px
20px
20px;

}


/* geser isi dari burger */

.content h1{

padding-left:70px;

margin-bottom:20px;

}


/* ketika sidebar terbuka */

.sidebar.show ~ .content{

pointer-events:none;

opacity:.4;

}

}