*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Segoe UI;

}

body{

background:#f4f8fc;

}

a{

text-decoration:none;

}

.navbar{

height:80px;

padding:0 8%;

display:flex;

justify-content:space-between;

align-items:center;

background:#1565C0;

}

.logo{

color:white;

font-size:28px;

font-weight:bold;

}

.menu{

display:flex;

gap:30px;

}

.menu a{

color:white;

}

.hero{

min-height:90vh;

display:flex;

justify-content:center;

align-items:center;

padding:50px;

}

.hero-content{

text-align:center;

max-width:700px;

}

.hero h1{

font-size:52px;

color:#0D47A1;

}

.hero p{

margin-top:20px;

font-size:18px;

color:#555;

}

.btn{

margin-top:30px;

display:inline-block;

padding:15px 35px;

background:#1565C0;

color:white;

border-radius:10px;

}

.section{

padding:80px 10%;

}

.section h2{

margin-bottom:25px;

color:#0D47A1;

}

.fitur{

display:grid;

grid-template-columns:
repeat(
auto-fit,
minmax(
250px,
1fr
));

gap:20px;

}

.card{

background:white;

padding:30px;

border-radius:15px;

box-shadow:
0 4px 15px
rgba(
0,
0,
0,
0.08
);

}

footer{

background:#1565C0;

padding:20px;

text-align:center;

color:white;

}


@media(max-width:768px){

.hero h1{

font-size:36px;

}

.navbar{

flex-direction:column;

height:auto;

padding:20px;

gap:20px;

}

}